
<header [style]="{'justify-content' : !pageTitle ? 'space-between' : ''}">
    <div>
        <tdn-ui-icon name="logo" size="xl" color="color-green" role="img" aria-label="logo" style="--color:var(--color-green);" [routerLink]="['/']"></tdn-ui-icon>
        <span class="app-title" [ngClass]="{'hidden-md-down' : pageTitle}">{{appTitle}}</span>
    </div>
    <span class="page-title">{{pageTitle}}</span>
    <nxlp-nav (ping)="ping($event)" [status]="status" position="top"></nxlp-nav>
</header>
<nxlp-toast></nxlp-toast>