<nxlp-header></nxlp-header>
<div class="container">
    <ul class="tasks">
        <li class="task" *ngFor="let task of tasks" [routerLink]="['/task/'+task.id]">
            <div class="thumbnail" [style]="{'background-image': task.img ? 'url('+task.img+')' : ''}"></div>
            <ul *ngIf="task.tags" class="tags">
                <li *ngFor="let tag of task.tags"><span [class]="'tag ' + 'bg-color-'+tag.color">{{tag.label}}</span></li>
            </ul>
            <p class="title">{{task.title}}</p>
            <p class="description" *ngIf="task.description">{{task.description}}</p>
            <p class="date"><tdn-ui-icon name="calendar" size="m"></tdn-ui-icon>{{task.due | date:'M/d/yyyy'}}</p>
        </li>
    </ul>
</div>
<nxlp-footer></nxlp-footer>
