<nxlp-header [task]="task" (changeTask)="changeTask($event)"></nxlp-header>
<div class="container">
    <div class="card">
        <div class="form-group">
            <label for="title">Task Name<sup>*</sup></label>
            <input type="text" name="title" #name required class="form-control" [(ngModel)]="task.title">
        </div>
        <div class="form-group">
            <label for="thumb">Thumbnail</label>
            <nxlp-uploader (uploaded)="storeThumb($event)" maxSize="64"></nxlp-uploader>
            <ng-container *ngIf="task.img || uploadedImage">
                <label>Preview</label>
                <img class="preview" *ngIf="uploadedImage" src="{{uploadedImage}}" />
                <img class="preview" *ngIf="task.img && !uploadedImage" src="{{task.img}}" />
            </ng-container>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" [(ngModel)]="task.description"></textarea>
        </div>
        <div class="form-group">
            <label for="labels">Labels</label>
            <div class="label-component">
                <ul class="tags" *ngIf="task.tags && task.tags.length > 0">
                    <li *ngFor="let tag of task.tags">
                        <span [class]="'tag bg-color-'+tag.color" (click)="removeTag(tag)">{{tag.label}}<tdn-ui-icon name="x" size="xs"></tdn-ui-icon></span>
                    </li>
                </ul>
                <ul class="pool" *ngIf="remainingTags && remainingTags.length > 0">
                    <li *ngFor="let tag of remainingTags" (click)="addTag(tag)" class="option">
                        <span [class]="'icon bg-color-'+tag.color"></span>{{tag.label}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="dueDate">Due Date</label>
            <div class="date-container">
                <tdn-ui-icon name="calendar" size="m"></tdn-ui-icon>
                <input type="text" class="form-control" name="dueDate" id="dueDate" [(ngModel)]="formattedDate">
            </div>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea name="notes" [(ngModel)]="task.notes"></textarea>
        </div>
    </div>
</div>
<nxlp-footer [task]="task" (changeTask)="changeTask($event)"></nxlp-footer>